/* Define application-wide selectors here!*/

html {
	position: relative;
	height: 100%;
}

body {
	width: 80%;
	margin: 0 auto;
	font-family: serif;
	font-size: 12px;

}

button {
	background-color: blueviolet;
	border-color: blue;
	color: seashell;
	font-weight: 23;
	padding: 2;
	border-radius: 30;
	transition: 0.3s;
	font-family: serif;
	// text-transform: 
	font-size: 20;
	text-align: center;
}

.right-nav {
	position: absolute;
	right: 30px;
	display: flex;
	// flex-direction: row;
	
}

.left-nav {
	position: absolute;
	left: 30px;
	display: flex;
	// flex-direction: row;
	
}

.masthead {
	position: absolute;
	left: 20%;
	right: 20%;
	width: 60%;
	top: 2%;
	border: 10px blue;
	// padding: 30px;
	display: block;
	// flex-direction: column;
	// align-content: center;
	
}
.masthead > ul{
	position: relative;
	left: 20%;
	right: 20%;
	width: 60%;
	border: 10px blue;
	// padding: 30px;
	display: block;
	// flex-direction: column;
	// align-content: center;
	
}
.masthead > ul > li{
	position: relative;
	display: flex;
	justify-content: center;

}

.right-nav > ul {
	display: flex;
	flex-direction: row;
}
.left-nav > ul {
	display: flex;
	flex-direction: row;
}
.snuff {
	position: absolute;
	left: 5%;
	right: 5%;
	width: 90%;
	top: 100%;
	border: 10px blue;
	// padding: 30px;
	display: block;
	// flex-direction: column;
	// align-content: center;
	
}

.snuff > ul{
	display: flex;
	flex-direction: row;
}

.snuff > ul > li {
	display: flex;
	justify-content: space-evenly;
}

button:hover {
	// background-color:
	// border-color:
}

/*
	Header Rules
*/

hr {
	border: 0;
	height: 1px;
	background-color: $light-gray;
}

.hr-top, .hr-bottom {
	width: 100%;
	margin: 0;
}

.hr-top {
	height: 2px;
	margin-bottom: 1px;
}
