<header class="main-nav">
	<nav class="left-nav">
		<ul>
			<li id="sections-sidebar-btn">
				<button><i class="fa fa-bars"></i>
				<span>sections</span></button>
			</li>
			<li id="search-modal-btn"><button>
				<i class="fa fa-search"></i>
				<span>search</span></button>
			</li>
		</ul>
	</nav>

	<nav class="right-nav">
		<ul>
			<li><button>Subscribe Now</button>
			<li><button>Log In</button>
			<li><button><i class="fas fa-bicycle"></i> Settings <i class="fas fa-bicycle"></i></button>
		</ul>
	</nav>
</header>