<header class="masthead"> 
<ul>
    <li><button>CSS</button> <button>HTML</button> 
    <button>Javascript</button> <button>Ruby</button>
        
    <li><img src="assets/AA_Times_Logo.png">


<li> Tuesday, October 18, 2016
<li> <button>Today’s Paper</button>
<button>Video</button>
<li>77°F
AAO +100%
</ul>
<header>