
<nav class="snuff">
  <ul>
  <li><button>World</button>
  <li><button>San Francisco</button>
  <li><button>New York</button>
  <li><button>Bootcamp Prep</button>
  <li><button>Jumpstart</button>
  <li><button>Online</button>
  <li><button>Marketing</button>
  <li><button>Sales</button>
  <li><button>TalentMatch</button>
  <li><button>Alumni</button>
  <li><button>All</button>
</ul>
</nav>